.idea/shelf/
.idea/sonarlint
.idea/atlassian-ide-plugin.xml
.idea/workspace.xml
.nyc_output/
coverage/
dist/
node_modules/
src/**/*.js*
src/structure-view/data/
test/resources/ts/**/*.js*
!test/resources/ts/tsconfig.json
!test/resources/ts/ecommerce-sample/ecommerce-sample-without-modules.json
test/src/api/module-structure-api-configuration-test.js*
test/src/api/extension-registry-test.js*
test/src/cli/module-structure-cli-test.js*
test/src/model-builder/model-builder-test-util.js*
output/
npm-debug.log
