.idea/shelf/
.idea/sonarlint
.idea/atlassian-ide-plugin.xml
.idea/workspace.xml
.nyc_output/
coverage/
dist/
node_modules/
src/**/*.js*
src/structure-view/data/
test/resources/ts/**/*.js*
!test/resources/ts/tsconfig.json
test/src/module-structure-integration-test.js*
output/
npm-debug.log
